<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="session.scss">
<script src="session.js"></script>


<p>※登録したメールアドレスとパスワードを入力してください。</p>
<div class="frame">
  <div class="box0"> 
   <img src="https://th.bing.com/th/id/OIP.sOnGkui_f0EFpZIexZCZFwAAAA?w=182&h=182&c=7&r=0&o=5&dpr=1.5&pid=1.7">
   <h2>ログイン</h2>
   </div>
   
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="box1">
  <div class="field">
  <label for="text1" id="l_text1">メール</label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="box1">
  <div class="field">
  <label for="text2" id="l_text2">パスワード</label>
  
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  </div>

  <% if devise_mapping.rememberable? -%>
   
      <%= f.check_box :remember_me %>
      <h4>私を覚える</h4>
  
  <% end -%>

  
  <button class="btn1" type="submit">ログイン</button>

  </div>
<% end %>
<div class="frame">
<%= render "users/shared/links" %>  
</div> 